/* 首页文章栏背景透明 */
#recent-posts > .recent-post-item,
.layout_page > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
    background: rgba(255, 255, 255, 0.7); /* 设置背景颜色为白色，透明度为 0.7 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* 添加黑色阴影，增加对比度 */
}

/* 侧边栏透明 */
#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.7); /* 设置背景颜色为白色，透明度为 0.7 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* 添加黑色阴影，增加对比度 */
}
